* { box-sizing: border-box; }

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 80%;
  width: 80%;
  margin: auto;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  padding: 0;
}

select, label
{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

label
{
  font-size: 2rem;
  font-weight: bold;
}
