* 
{
	box-sizing: border-box;
}

body 
{
	font-family: Montserrat;
  margin: 0;
	padding: 10px;
	background: #F1F1F1;
}

header 
{
  margin: -10px -10px 0px -10px;
	padding: 0.5vw;
  background: radial-gradient(circle, rgba(255,255,240,1) 5%, rgba(238,160,14,1) 90%); 
	text-align: center;
}

a
{
  text-decoration: none;  
	color: #323337;
}

p
{
  font-size: 0.9em;
	color: #323337;
  white-space: initial;
  word-wrap: break-word;
  overflow: "-";
}

.clear
{
	clear: both;
}

/* Título del encabezado */
h1
{
	color: #323337;
  font-size: 5vw;
  text-align: center;
  margin: 0 15% 0 0;
}

/* Subtítulo del encabezado */
h2 
{
  color: #A9A08E;
  font-size: 1.5vw;
  text-align: center;
  margin: 0 15% 0 0;
}

/* Título del artículo principal */
h3
{
	color: #323337;
  font-size: 3em;
  text-align: center;
}

/* Títulos */
h4
{
	color: #323337;
  font-size: 1.5em;
  text-align: center;
}

/* Subtítulos */
h5
{
  display: inline-block;
  color: #FFFFFF;
  font-size: 0.8em;
	background-color: #323337;
  padding: 1vw;
  border-radius: 8px;
}

/* Propiedades para leer más */
.more
{
  display: none;
}

.read-more
{
  display: inline-block;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1vw;
	background-color: #323337;
  border-radius: 10px;
}

/* Lado izquierdo del encabezado */
.header-main .logo
{
  float: left;
  width: 25%;
}

.header-main img 
{
	margin: auto;
	border-radius: 20%;
  width: 10vw;
  float: right;
}

/* Lado derecho del encabezado */
.header-main .text
{
  float: left;
  width: 75%;
}

/* Barra de navegación */
nav li 
{
	display: inline;
  font-size: 1.5vw;
	width: 1vw;
	margin: auto;
  padding: 1vw;
	text-align: center;
}

nav a 
{
  text-decoration: none;
  font-weight: bold;
	color: #323337;
}

nav li:hover 
{
	background-color: #323337;
  border-radius: 10px;
}

nav li:hover a
{
  color: white;
}

/* Sección principal */
#container-main
{
  margin-left: -10px;
  margin-right: -10px;
  padding: 2vw;
  padding-bottom: 5vw;
  background: #FFFFFF;
}

/* Apartado de enlaces */
.links
{
  float: left;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.links a
{
  color: inherit;
  font-size: inherit;
}

.links article
{
  font-size: 0.8em;
  padding-bottom: 1vw;
  border-bottom: solid 1px #DEDEDE;
}

/* Artículo principal */
.main
{
  float: left;
  width: 40%;
}

/* Apartado de noticias */
.news
{
  float: right;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.news ul
{
  list-style-image: url(../icon/check.png);
  margin: 1vw;
}

.news li 
{
  font-size: 0.8em;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-bottom: solid 1px #DEDEDE;
	color: #323337;
}

.news .read-more
{
  margin-top: 20px;
}

/* Información de proyectos */
#project-info
{
  margin-left: -10px;
  margin-right: -10px;
  padding: 5vw;
  padding-bottom: 5vw;
  background-color: #F3F2ED;
}

/* Sección de habilidades */
.skills
{
  float: left;
  width: 35%;
  margin-left: 5%;
  background-color: #FFFFFF; 
  padding: 2vw;
}

.skills li
{
  display: block;
  padding: 1vw;
  border-top: solid 1px #DEDEDE;
}

.skills label
{
  padding-top: 10px;
  padding-right: 10px;
}

.skills meter
{
  display: block;
  width: 80%;
  margin-bottom: 2vw;
}

/* Información de proyectos (ahora sí) */
.info
{
  float: right;
  width: 50%;
  margin-right: 5%;
  background-color: #FFFFFF; 
  padding: 1vw;
}

.float-3
{
  float: left;
  width: 28%;
  margin: 10px;
}

.float-3 img
{
  display: inline-block;
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
  margin: auto;
}

/* Sección de precios */
#prices
{
  margin-left: -10px;
  margin-right: -10px;
  padding: 2vw;
  padding-bottom: 5vw;
  background: #FFFFFF;
}

#prices .float-3 
{
  margin: 2.5%;
}

.card h5
{
  display: block;
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 1vw;
  margin: 0;
  border-radius: 0;
}

#basic
{
  background-color: #A27B5C;
}

#pro
{
  background-color: #73777B;
}

#premium
{
  background-color: #FAC213;
}

.specs h5
{
  display: block;
  color: black;
  font-weight: normal;
  text-align: center;
  padding: 1vw;
  margin: 0;
  background-color: #EAEDED;
  border-top: solid 1px #DEDEDE;
  border-bottom: solid 1px #DEDEDE;
  border-radius: 0;
}

.price-tag
{
  font-size: 2em;
  display: block;
}

/* Botón de comprar ahora */
.buy
{
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: auto;
  padding: 1vw;
  background-color: #2A9C8D;
}

/* Sección de contacto */
#contact
{
  padding: 2vw 6vw 2vw 6vw;
}

#contact .float-3
{
  display: block;
  width: 33.3%;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1vw;
  margin: 0;
  margin-bottom: 2vw;
}

#email
{
  background-color: #69B0EE;
}

#location
{
  background-color: #2CBFAE;
}

#phone
{
  background-color: #2C4351;
}

#contact img
{
  display: block;
  width: 48px;
  height: auto;
  margin-bottom: 10px;
}

.contact-info
{
  border-bottom: solid 2px #A1A1A0;
  margin-bottom: 3vw;
}

#contact label
{
  display: block;
  margin-top: 1vw;
}

#contact textarea, input
{
  width: 100%;
}

.submit
{
  display: block;
  width: 60%;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-top: 2vw;
  padding: 1vw;
	background-color: #323337;
}

footer
{
  margin-left: -10px;
  margin-right: -10px;
  padding: 1vh 6vw 1vh 6vw;
	background-color: #323337;
}

footer h6
{
  color: #FFFFFF;
}

footer a
{
  display: block;
  color: #FFFFFF;
  font-size: 0.6em;
}

/* Acá empieza la responsividad */
/* Menú de hamburguesa */
#check-menu, .menu 
{
	display: none;
}

@media screen and (max-width: 500px) 
{
  /* Logo del encabezado */
  .header-main .logo
  {
    width: 100%;
  }
  
  .header-main img
  {
    float: none;
    width: 25%;
  }

  /* Título del encabezado */
  .header-main .text
  {
    float: none;
    width: 100%;
  }

  /* Encabezados */
  h1, h2, h3, h4, h5
  {
    margin: 5px;
  }

  h3
  {
    font-size: 1.5em; 
  }

  h4
  {
    font-size: 1em;
  }

  h5
  {
    font-size: 0.6em;
  }

  /* Menú de navegación */
	nav 
  {
		display: none;
		position: fixed;
    top: 30px;
		left: -30px;
	}

	#check-menu:checked ~ nav
  {
		display: block;
	}

	nav li 
  {
		display: block;
    width: 100%;
    border: solid 1px #1F1503;
    margin: auto;
    text-align: center;
	  background-color: #D1D1D6;
    box-shadow: 1px 2px 2px black;
    border-radius: 5%;
	}

  nav a
  {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
	  color: #323337;
  }

	.menu 
  {
		display: block;
		position: fixed;
		top: 20px;
    left: 10px;
	}

	.img-menu 
  {
		background-color: transparent;
		width: 5vw;
	}

	.img-menu:hover 
  {
		cursor: pointer;
	}
  
  /* Artículos en múltiples columnas pasan a ser una sola */
  .float-3, .links, .main, .news, .skills, .info
  {
    width: 100%;
  }

  /* Enlaces */
  .links
  {
    margin: 0;
  }
  
  .links article
  {
    margin-left: 10px;
    font-size: 0.7em;
  }

  /* Artículo principal */
  .main h3
  {
    margin-top: 10px;
  }

  .main p
  {
    font-size: 0.7em;
  }

  /* Noticias */
  .news
  {
    margin: 0;
  }

  .news li
  {
    font-size: 0.7em;
  }

  /* Habilidades */
  .skills, .info
  {
    margin: 10px 0px 10px 0px;
  }

  .info img
  {
    display: block;
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    padding: 30px;
  }

  .info p
  {
    margin-right: 5px;
  }
  
  /* Precios */
  .card h5
  {
    margin: 0px 5px 0px 5px;
  }
}

